:root {
	// max-width
	--gap: 28px;
	--mw-container: calc(1198px + 2 * var(--gap));
	--pd-container: calc((100% - var(--mw-container)) / 2 + 28px);
	--pd-bottom-sc: 110px;

	// height button, header, ...
	--h-btn-b1: 56px;
	--h-btn-b2: 70px;
	--h-header: 100px;
	--h-header-scroll: 86px;
	--h-tags: 36px;

	// color
	--blue-cl: #0328ee;
	--white-cl: #ffffff;
	--white-cl-light: rgb(255, 255, 255, 0.1);
	--blue-dark: #010725;
	--light-blue: #010d50;
	--bg-btn: #00116a;
	--blue-medium: #1a2561;

	// time transition
	--time-transtion: 0.4s;

	//  heading
	--heading-h1: 6.6rem;
	--lh-h1: 8rem;

	--heading-h2: 4.2rem;
	--lh-h2: 5.5rem;

	--heading-h3: 2.2rem;
	--lh-h3: 3.1rem;

	--f-title-large: 2.8rem;
	--lh-title-large: 3rem;
	--lh-title-large-2: 4rem;

	--f-title-medium: 2rem;
	--lh-title-medium: 2.6rem;

	--f-nav: 2.6rem;
	--lh-nav: 1rem;

	--f-label: 1.8rem;
	--lh-label: 2.6rem;

	--f-text-button: 1.6rem;
	--lh-text-button: 1.6rem;

	--f-body-1: 1.8rem;
	--lh-body-1: 3.2rem;

	--f-body-2: 1.6rem;
	--lh-body-2: 2.6rem;

	--f-text-menu: 1.4rem;
	--lh-text-menu: 1.6rem;

	--f-text-tag: 1.4rem;
	--lh-text-tag: 1.8rem;

	// MOBILE, RESPONSIVE
	@include md {
		--mw-container: 1140px;
	}
	@include maxW(1050px) {
		--h-header: 80px;
	}
	@include sm {
		--mw-container: 960px; // hoặc max-width: 100% tuỳ yêu cầu
	}
	@include xs {
		--h-header: 73px;

		--heading-h1: 3.8rem;
		--lh-h1: 4.6rem;

		--heading-h2: 2.8rem;
		--lh-h2: 3.6rem;

		--heading-h3: 2.2rem;
		--lh-h3: 3.1rem;

		--f-title-large: 1.8rem;
		--lh-title-large: 2.6rem;
		--lh-title-large-2: 3.1rem;

		--f-title-res: 1.8rem;
		--lh-title-res: 2.6rem;

		--f-label: 1.4rem;
		--lh-label: 1.8rem;

		--f-text-button: 1.6rem;
		--lh-text-button: 1.6rem;

		--f-body-1: 1.6rem;
		--lh-body-1: 2.6rem;

		--f-body-2: 1.6rem;
		--lh-body-2: 2.6rem;

		--f-text-menu: 1.4rem;
		--lh-text-menu: 1.6rem;

		--f-text-tag: 1.4rem;
		--lh-text-tag: 1.8rem;
	}
	@include xxs {
		--mw-container: 100%;
	}
}
