.blogdetailmain {
    .scdolor {
        margin-top: calc(var(--h-header) + 70px);
        .container {
            padding: 0 100px;
        }
        .textbox {
            margin-top: 19px;
            h1 {
                font-size: var(--heading-h1);
                line-height: var(--lh-h1);
                font-family: db;
                margin-bottom: 16px;
            }
            .desc {
                max-width: initial;
            }
        }
        @include sm {
            .container {
                padding: 0 30px;
            }
        }
        @include xs {
            margin-top: calc(var(--h-header) + 50px);
            .container {
                padding: 0 16px;
            }
            .textbox {
                margin-top: 26px;
            }
        }
    }
    .scblog {
        margin-top: 64px;
        &__img {
            @include frameimg(1198, 674);
            img {
                width: auto;
                height: auto;
            }
        }
        &__content {
            padding: 35px 102px 0 102px;
            &-learn {
                .learn {
                    h2 {
                        font-size: var(--heading-h2);
                        line-height: var(--lh-h2);
                        font-family: db;
                    }
                    .desc {
                        margin-top: 30px;
                        &__one {
                            strong {
                                font-family: db;
                            }
                        }
                        &__two {
                            margin-top: 5px;
                            a {
                                color: var(--white-cl);
                                display: inline-block;
                                &:after {
                                    content: "";
                                    width: 100%;
                                    height: 1px;
                                    background: var(--white-cl);
                                    display: block;
                                    margin-top: -7px;
                                }
                            }
                        }
                    }
                }
                .wallet {
                    margin-top: 30px;
                    h3 {
                        font-size: var(--heading-h3);
                        line-height: var(--lh-h3);
                        font-family: db;
                    }
                    .desc {
                        margin-top: 30px;
                        &__one {
                            strong {
                                font-family: db;
                            }
                        }
                        &__two {
                            margin-top: 5px;
                            a {
                                color: var(--white-cl);
                                display: inline-block;
                                &:after {
                                    content: "";
                                    width: 100%;
                                    height: 1px;
                                    background: var(--white-cl);
                                    display: block;
                                    margin-top: -7px;
                                }
                            }
                        }
                        &__three {
                            margin-top: 16px;
                            ul {
                                li {
                                    margin-left: 40px;
                                    position: relative;
                                    &::before {
                                        content: "";
                                        width: 6px;
                                        height: 6px;
                                        background: var(--white-cl);
                                        display: block;
                                        border-radius: 50px;
                                        @include mid(false);
                                        left: -20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            figure {
                margin-top: 38px;
                img {
                    width: auto;
                    height: auto;
                }
                figcaption {
                    margin-top: 22px;
                    font-size: var(--f-body-2);
                    line-height: var(--lh-body-2);
                    font-style: italic;
                }
            }
            &-currency {
                margin-top: 38px;
                h3 {
                    font-size: var(--heading-h3);
                    line-height: var(--lh-h3);
                    font-family: db;
                }
                .desc {
                    margin-top: 16px;
                    &__one {
                        strong {
                            font-family: db;
                        }
                    }
                    &__two {
                        margin-top: 5px;
                        a {
                            color: var(--white-cl);
                            display: inline-block;
                            &:after {
                                content: "";
                                width: 100%;
                                height: 1px;
                                background: var(--white-cl);
                                display: block;
                                margin-top: -7px;
                            }
                        }
                    }
                }
            }
            blockquote {
                margin-top: 38px;
                padding: 37px 50px;
                background: var(--light-blue);
                border-radius: 30px;
                font-size: initial;
                line-height: initial;
            }
        }
        &__social {
            margin-top: 27px;
            padding-bottom: 8px;
            .container {
                padding-right: 102px;
                @include mid(true);
                justify-content: end;
                gap: 21px;
            }
            &-img {
                @include mid(true);
                gap: 14px;
                a {
                    width: 36px;
                    height: 36px;
                    border-radius: 1000px;
                    background: rgba(255, 255, 255, 0.5);
                    @include mid(true);
                    @include transition(var(--time-transtion));
                    &:hover {
                        background: var(--blue-cl);
                    }
                }
            }
        }

        @include sm {
            &__content {
                padding: 25px 62px 0 62px;
            }
        }

        @include xs {
            margin-top: 30px;
            &__content {
                padding: initial;
                margin-top: 30px;
                .learn {
                    .desc {
                        margin-top: 18px;
                    }
                }
                .wallet {
                    margin-top: 16px;
                    .desc {
                        margin-top: 17px;
                    }
                }
                figure {
                    margin-top: 26px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                    figcaption {
                        margin-top: 12px;
                    }
                }
                &-currency {
                    margin-top: 23px;
                }
                blockquote {
                    margin-top: 28px;
                }
            }
            &__social {
                .container {
                    padding-right: initial;
                }
            }
        }
    }

    .scsubcribe {
        margin-top: 112px;
        @include xs {
            margin-top: 72px;
        }
    }

    .sclatest {
        margin-top: 120px;
        .textbox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .tabs {
                height: 70px;
                padding: 0 32px;
                font-size: var(--f-text-button);
                line-height: var(--lh-text-button);
                font-family: db;
                text-transform: uppercase;
                background: var(--white-cl-light);
                @include mid(true);
                border-radius: 80px;
                cursor: pointer;
                @include transition(var(--time-transtion));
                &:hover {
                    background: var(--blue-cl);
                }
            }
        }
        &__list {
            margin-top: 58px;
            margin-bottom: 40px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--gap);

            &-item {
                background: var(--light-blue);
                border-radius: 40px;
                overflow: hidden;
                .img {
                    width: 100%;
                    aspect-ratio: 382/215;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        @include transition(var(--time-transtion));
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
            .content {
                position: relative;
                padding: 45px 20px 35px 23px;
                .btntags {
                    position: absolute;
                    top: -5%;
                    left: 23px;
                }
                .textbox {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 35px;
                    align-items: initial;
                    .heading {
                    }
                    .desc {
                        margin-top: 5px;
                        @include overtext(3);
                    }
                }
                .author {
                    border-top: 1px solid var(--blue-medium);
                    padding-top: 22px;
                }
            }
        }

        @include sm {
            &__list {
                grid-template-columns: 1fr;
            }
        }
        @include xs {
            margin-top: 74px;
            margin-bottom: 90px;
            .textbox {
                flex-direction: column;
                .tabs {
                    margin-top: 12px;
                    width: 100%;
                }
            }
            &__list {
                grid-template-columns: 1fr;
                margin-top: 40px;
                &-item {
                    margin-bottom: -10px;
                }
            }
        }
    }
}
